.savings:after {
  position: absolute;
  top: -6px;
  right: calc(50% - 6px);
  display: block;
  width: 12px;
  height: 6px;
  pointer-events: none;
  content: " ";
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}
