@import "~bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

.payment-card {
  small {
    color: $gray-500;
    font-size: 0.6rem;
  }
}

.text-size-md {
  font-size: 0.7rem;
}

.container-main {
  padding-top: 4rem;
  padding-bottom: 1rem;
}
