@import "bootstrap/scss/functions.scss";
@import "./scss/_variables.scss";
@import "bootstrap/scss/maps.scss";
@import "bootstrap/scss/mixins.scss";
@import "bootstrap/scss/root.scss";
@import "bootstrap/scss/utilities.scss";
@import "bootstrap/scss/reboot.scss";
@import "bootstrap/scss/type.scss";
@import "bootstrap/scss/images.scss";
@import "bootstrap/scss/containers.scss";
@import "bootstrap/scss/grid.scss";
@import "bootstrap/scss/helpers.scss";
@import "bootstrap/scss/utilities/api.scss";
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons";

.payment-card {
  small {
    color: $gray-500;
    font-size: 0.6rem;
  }
}

.text-size-md {
  font-size: 0.7rem;
}

.container-main {
  padding-top: 4rem;
  padding-bottom: 1rem;
}

label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7rem;
}

.payment-list .payment-list-item:first-child {
  border-top: 0 !important;
}
