$input-border-width: 0;
$input-bg: #f3f5f6;

$input-btn-padding-y: 0.6rem;
$input-btn-padding-x: 1.2rem;

@import "~bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

.payment-card {
  small {
    color: $gray-500;
    font-size: 0.6rem;
  }
}

.text-size-md {
  font-size: 0.7rem;
}

.container-main {
  padding-top: 4rem;
  padding-bottom: 1rem;
}

label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7rem;
}
