@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer base {
  @font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: "Regular";
    src: url("./assets/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
  }
  @font-face {
    font-family: "Inter var";
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: "Italic";
    src: url("./assets/fonts/Inter-italic.var.woff2?v=3.19") format("woff2");
  }
}

.react-datepicker__input-container input {
  @apply block w-full text-base bg-primary border border-gray-light rounded shadow-sm;
}

.react-datepicker__aria-live {
  @apply sr-only;
}

.react-datepicker-popper {
  @apply z-40 bg-white shadow-lg shadow-gray p-3 border-none rounded-md;
}

.react-datepicker-left {
  @apply absolute left-0 right-auto top-11 transform-none !important;
}

.react-datepicker-right {
  @apply absolute right-0 left-auto top-11 transform-none !important;
}

.react-datepicker__portal {
  @apply absolute z-10 w-72 text-sm transform-none bg-white shadow px-3 py-2 top-12 right-0 border-2 border-gray rounded;
}

.react-datepicker__header {
  @apply flex flex-col justify-between  gap-1;
}

.react-datepicker__month-container {
  @apply flex flex-col;
}

.react-datepicker__month {
  @apply flex flex-col;
}

.react-datepicker__current-month {
  @apply ml-2.5 text-lg font-semibold text-gray-dark;
}

.react-datepicker__week {
  @apply flex justify-around;
}

.react-datepicker__day-names {
  @apply flex justify-around text-gray font-medium text-center text-base;
}

.react-datepicker__day-name {
  @apply w-8 h-8 flex items-center justify-center py-1 rounded-full;
}

.react-datepicker__navigation {
  @apply absolute top-2;
}

.react-datepicker__navigation--previous {
  @apply right-12 w-0 h-8 rounded transition flex items-center justify-center hover:bg-gray-light;
}

.react-datepicker__navigation--next {
  @apply right-4 w-8 h-8 rounded transition flex items-center justify-center hover:bg-gray-light;
}

.react-datepicker__day {
  @apply mb-1 w-8 h-8 flex items-center justify-center py-1 text-base leading-loose transition text-gray-dark rounded hover:bg-gray-light cursor-pointer;
}

.react-datepicker__day--disabled {
  @apply cursor-not-allowed opacity-40 hover:bg-transparent;
}

.react-datepicker__day--outside-month {
  @apply text-gray;
}

.react-datepicker__day--in-range {
  @apply bg-gray;
}

.react-datepicker__day--in-selecting-range {
  @apply bg-primary/10;
}

.react-datepicker__day--selecting-range-start {
  @apply bg-white border-2 border-primary;
}

.react-datepicker__day--selecting-range-end {
  @apply bg-white border-2 border-primary;
}

.react-datepicker__day--selected {
  @apply bg-primary text-white font-semibold hover:bg-primary-dark;
}

.react-datepicker__day--range-start {
  @apply bg-primary text-white hover:text-gray-dark hover:bg-white;
}

.react-datepicker__day--range-end {
  @apply bg-primary text-white hover:text-gray-dark hover:bg-white;
}

.react-datepicker__today-button {
  @apply py-1 px-2 hover:bg-gray-light text-base font-semibold w-full cursor-pointer rounded text-center;
}
