@import "~bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

.container-main {
  padding-top: 4rem;
  padding-bottom: 1rem;
}

label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7rem;
}
